In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\asus\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df= pd.read_csv('bank.csv',  delimiter=';')

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df.shape

(41188, 21)

In [6]:
df.duration.value_counts()

duration
90      170
85      170
136     168
73      167
124     164
       ...
1569      1
1053      1
1263      1
1169      1
1868      1
Name: count, Length: 1544, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [8]:
df.nunique()

age                 78
job                 12
marital              4
education            8
default              3
housing              3
loan                 3
contact              2
month               10
day_of_week          5
duration          1544
campaign            42
pdays               27
previous             8
poutcome             3
emp.var.rate        10
cons.price.idx      26
cons.conf.idx       26
euribor3m          316
nr.employed         11
y                    2
dtype: int64

## Data Cleaning

In [9]:
# Rename the feature name

df.columns = df.columns.str.replace(".", "_", regex = False)

# Map old names to new names
rename = {
    'y':'invested',
    'poutcome':'prev_outcome',
    'pdays':'days_since_prev',
    'previous':'prev_contact_count',
    'campaign':'contact_count',
    'month':'contact_month',
    'day_of_week':'contact_weekday',
    'duration':'contact_duration',
    'contact':'contact_type',
    'nr_employed':'n_employed',
    'euribor3m':'euribor_3m'
}

df.rename(columns=rename, inplace=True)

df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact_type', 'contact_month', 'contact_weekday', 'contact_duration',
       'contact_count', 'days_since_prev', 'prev_contact_count',
       'prev_outcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx',
       'euribor_3m', 'n_employed', 'invested'],
      dtype='object')

### Feature Explanations

1. 'age' - years
2. 'job' - type of job
3. 'marital' - marital status
4. 'education' - level of education
5. 'default' - has defaulted on credit
6. 'housing' - has housing loan
7. 'loan' - has personal loan

8. 'contact_type' - call type of last contact (cellular or landline)
9. 'contact_month' - month of last contact
10. 'contact_weekday' - weekday of last contact
11. 'contact_duration' - duration of last contact in seconds
12. 'contact_count' - total number of contacts during this campaign
13. 'invested' - invested in a term deposit (target variable)

14. 'days_since_prev' - number of days since last contacted during previous campaign
15. 'prev_contact_count' - total number of contacts before this campaign
16. 'prev_outcome' - sales result of previous campaign

17. 'emp_var_rate' - employment variation rate (quarterly indicator)
18. 'cons_price_idx' - consumer price index (monthly indicator)
19. 'cons_conf_idx' - consumer confidence index (monthly indicator)
20. 'euribor_3m' - euribor 3 month rate (daily indicator)
21. 'n_employed' - thousands of people employed (quarterly indicator)

In [10]:
df['days_since_prev'].value_counts()

days_since_prev
999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64

In [11]:
df['days_since_prev'].replace(999, np.NaN, inplace=True)

C:\Users\asus\AppData\Local\Temp\ipykernel_24540\3422073804.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['days_since_prev'].replace(999, np.NaN, inplace=True)

In [12]:
df['days_since_prev'].value_counts()

days_since_prev
3.0     439
6.0     412
4.0     118
9.0      64
2.0      61
7.0      60
12.0     58
10.0     52
5.0      46
13.0     36
11.0     28
1.0      26
15.0     24
14.0     20
8.0      18
0.0      15
16.0     11
17.0      8
18.0      7
22.0      3
19.0      3
21.0      2
25.0      1
26.0      1
27.0      1
20.0      1
Name: count, dtype: int64

In [13]:
df.replace(['unknown', 'nonexistent'], np.NaN, inplace=True)

In [14]:
display(df.loc[df.duplicated()])
df.drop_duplicates(inplace=True)

,age,job,marital,education,default,housing,loan,contact_type,contact_month,contact_weekday,...,contact_count,days_since_prev,prev_contact_count,prev_outcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor_3m,n_employed,invested
1266,39,blue-collar,married,basic.6y,no,no,no,telephone,may,thu,...,1,NaN,0,NaN,1.1,93.994,-36.4,4.855,5191.0,no
12261,36,retired,married,NaN,no,no,no,telephone,jul,thu,...,1,NaN,0,NaN,1.4,93.918,-42.7,4.966,5228.1,no
14234,27,technician,single,professional.course,no,no,no,cellular,jul,mon,...,2,NaN,0,NaN,1.4,93.918,-42.7,4.962,5228.1,no
16956,47,technician,divorced,high.school,no,yes,no,cellular,jul,thu,...,3,NaN,0,NaN,1.4,93.918,-42.7,4.962,5228.1,no
18465,32,technician,single,professional.course,no,yes,no,cellular,jul,thu,...,1,NaN,0,NaN,1.4,93.918,-42.7,4.968,5228.1,no
20216,55,services,married,high.school,NaN,no,no,cellular,aug,mon,...,1,NaN,0,NaN,1.4,93.444,-36.1,4.965,5228.1,no
20534,41,technician,married,professional.course,no,yes,no,cellular,aug,tue,...,1,NaN,0,NaN,1.4,93.444,-36.1,4.966,5228.1,no
25217,39,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,2,NaN,0,NaN,-0.1,93.200,-42.0,4.153,5195.8,no
28477,24,services,single,high.school,no,yes,no,cellular,apr,tue,...,1,NaN,0,NaN,-1.8,93.075,-47.1,1.423,5099.1,no
32516,35,admin.,married,university.degree,no,yes,no,cellular,may,fri,...,4,NaN,0,NaN,-1.8,92.893,-46.2,1.313,5099.1,no
36951,45,admin.,married,university.degree,no,no,no,cellular,jul,thu,...,1,NaN,0,NaN,-2.9,92.469,-33.6,1.072,5076.2,yes
38281,71,retired,single,university.degree,no,no,no,telephone,oct,tue,...,1,NaN,0,NaN,-3.4,92.431,-26.9,0.742,5017.5,no

In [ ]:
df.info()

In [ ]:
df

In [ ]:
# List columns with string 'yes' and 'no' values
string_cols = ['default', 'housing', 'loan', 'invested']

# convert 'yes' and 'no' to 1 and 0
df[string_cols] = df[string_cols].apply(lambda x: x.map({'yes': 1, 'no': 0}))

In [ ]:
df

In [ ]:
sns.countplot(x='invested', data=df)

plt.xlabel('Invested')
plt.ylabel('Count')

plt.show()

In [ ]:
# Sales result of previous campaign
df.prev_outcome.value_counts()

In [ ]:
# One-hot encode 'prev_outcome' categories: {'failure', 'success'}
df = pd.get_dummies(df, columns=['prev_outcome'], prefix="prev")

In [ ]:
df

In [ ]:
df['days_since_prev'].value_counts()

The third quartile of "days_since_prev" is exactly 7 days, as illustrated by the dashed red line on the boxplot below. This seems like a good cutoff for turning "days_since_prev" into a categorical.

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(12, 4))

# Plot boxplot and hist
sns.boxplot(data=df, x="days_since_prev", ax=ax1)
sns.histplot(data=df, x="days_since_prev", ax=ax2)

# Add line at 7 days
for ax in [ax1, ax2]:
    ax.axvline(7, c="r", ls="--")

fig.tight_layout()

In [ ]:
# will replace the 'days_since_prev' feature to 'recent_prev_contact'
df["recent_prev_contact"] = df['days_since_prev'] <= 7

df['recent_prev_contact'].value_counts(1)

In [ ]:
df['prev_contact_count'].value_counts()

In [ ]:
df['has_prev_contact'] = df['prev_contact_count'].apply(lambda x: 1 if x > 0 else 0)
df['has_prev_contact']

In [ ]:
df.contact_type.value_counts()

In [ ]:
# Create boolean feature
df["contact_cellular"] = df["contact_type"] == "cellular"

# Display distribution
df["contact_cellular"].value_counts()

In [ ]:
# List features to drop
to_drop = ['days_since_prev', 'prev_contact_count', 'contact_type']

# Drop them in place
df.drop(to_drop, axis=1, inplace=True)

# Show results
df.columns

In [ ]:
df.info()

In [ ]:
df.nunique()

In [ ]:
# default , housing , loan, invested, prev_failure, prev_success, recent_prev_contact,has_prev_contact , contact_cellular
binary_cats = ['default', 'housing', 'loan', 'invested', 'prev_failure', 'prev_success', 'recent_prev_contact', 'has_prev_contact', 'contact_cellular']

# Convert to float
df[binary_cats] = df[binary_cats].astype(np.float64)
df[binary_cats]

In [ ]:
df.default.value_counts()

In [ ]:
# will drop the default features
df.drop(columns=['default'], inplace=True)
binary_cats.remove('default')

### Multi-class Categoricals

In [ ]:
# List multi-class categoricals
multi_cat = ['job', 'marital', 'education', 'contact_month', 'contact_weekday']

# Tweak some labels
df['job'] = df['job'].str.replace('.', '', regex=False)
df['job'] = df['job'].str.replace('-', '', regex=False)
df['education'] = df['education'].str.replace('.', '_', regex=False)

# Convert to unordered categoricals
df[multi_cat] =df[multi_cat].astype('category')

In [ ]:
df.job.unique

In [ ]:
plt.figure(figsize=(15, 8))

# Loop through each categorical feature and plot its countplot
for feature in multi_cat:
    plt.figure(figsize=(10, 5))
    sns.countplot(data=df, x=feature, order=df[feature].value_counts().index)
    plt.title(f'Count Plot for {feature}')
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
df

In [ ]:
df.marital.value_counts()

In [ ]:
df.education.value_counts()

In [ ]:
df.contact_month.value_counts()

In [ ]:
# Compute rows to keep
keep = (df.education != "illiterate") & (df.contact_month != "dec")

# Overwrite `df` with keeper rows
df = df.loc[keep].copy()

In [ ]:
df["education"] = df["education"].cat.remove_unused_categories()
df["contact_month"] = df["contact_month"].cat.remove_unused_categories()

In [ ]:
df.contact_month.value_counts()

In [ ]:
df.education.value_counts()

In [ ]:
df.info()

In [ ]:
# Define the order for days and months
days = ["mon", "tue", "wed", "thu", "fri"]
months = ["mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov"]


# Convert 'contact_weekday' to an ordered categorical type
df['contact_weekday'] = pd.Categorical(df['contact_weekday'], categories=days, ordered=True)

# Convert 'contact_month' to an ordered categorical type
df['contact_month'] = pd.Categorical(df['contact_month'], categories=months, ordered=True)

In [ ]:
print(df['contact_weekday'].dtype)
print(df['contact_month'].dtype)

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
duplicated_df = df[df.duplicated()]
df = df.drop(duplicated_df.index)

In [ ]:
df.shape

## EDA

In [ ]:
# corr_matrix = df.corr()
# Select only numerical columns
numerical_df = df.select_dtypes(include=[np.number])

# Calculate the correlation matrix
corr_matrix = numerical_df.corr()

In [ ]:
plt.figure(figsize=(12, 10))

sns.heatmap(corr_matrix,annot=True, fmt=".2f", cmap='coolwarm', linewidths =0.5)

# Title for the heatmap
plt.title('Correlation Matrix of Features', fontsize=16)

plt.show()

Unsurprisingly, 'prev_success' and 'recent_prev_contact' have strong positive relationships. Strangely, 'n_employed' has a strong negative relationship with the target, meaning that people tend to invest when fewer people are employed.

Some of the economic context variables like 'euribor_3m', 'n_employed' and 'emp_var_rate' are highly correlated. 'recent_prev_contact' is highly correlated with 'prev_success', as is 'rev_contact' with 'prev_failure'.

In [ ]:
# Convert categorical variables into one-hot encoded variables
categorical = ['marital', 'job' , 'education']
numeric_features = df.select_dtypes(include=['int64', 'float64'])
df_encoded = pd.get_dummies(df[categorical], drop_first=True)
df_combined = pd.concat([numeric_features, df_encoded], axis=1)

# Calculate the correlation matrix
corr_matrix = df_combined.corr()

corr_with_categorical = corr_matrix.loc[numeric_features.columns, df_encoded.columns]
# Plot the heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(corr_with_categorical, annot=True, fmt=".2f", cmap='coolwarm', linewidths =0.5)
plt.title('Correlation Heatmap of Categorical Features')

plt.show()

The jobs, education levels, and marital statuses seem more interestingly related to 'age' than anything else. There are some weaker relationships here as well

In [ ]:
temporal = ["contact_weekday", "contact_month"] 
numeric_features = df.select_dtypes(include=['int64', 'float64'])
df_encoded = pd.get_dummies(df[temporal], drop_first=True)
df_combined = pd.concat([ df_encoded, numeric_features], axis=1)

# Calculate the correlation matrix
corr_matrix = df_combined.corr()

corr_with_categorical = corr_matrix.loc[df_encoded.columns, numeric_features.columns]
# Plot the heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(corr_with_categorical, annot=True, fmt=".2f", cmap='coolwarm', linewidths =0.5)
plt.title('Correlation with Numeric Features')

plt.show()

In [ ]:
df.isnull().sum()

## Modeling

In [ ]:
# !pip uninstall feature-engine
!pip install feature-engine

In [ ]:
!pip show feature-engine

In [ ]:
import joblib
# from feature_engine.outliers import Winsorizer
from feature_engine.imputation import ArbitraryNumberImputer
from feature_engine.wrappers import SklearnTransformerWrapper
from feature_engine.selection import SmartCorrelatedSelection
from sklearn.base import clone
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.dummy import DummyClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, FunctionTransformer
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [ ]:
# Train-Test split
X = df.drop(columns=['invested', 'contact_duration'])

y=df['invested']

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

There are some missing values for the job , education, housing, loan, marital
The pipleine must handle the missing values.

## Baseline Classifier Pipeline

In [ ]:
corr_trimmer = SmartCorrelatedSelection(
    method='pearson',
    threshold=0.8,
    selection_method="variance",
    missing_values='ignore' )
# Fit and transform the data
df_transformed = corr_trimmer.fit_transform(X_train)
print('Transformed DataFrame:')
print(df_transformed.head())

In [ ]:
df.shape

In [ ]:
df_transformed.shape

In [ ]:
df_transformed.columns

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
# Define the preprocessing steps
categorical_features = X_train.select_dtypes(include=['category']).columns.tolist()
numerical_features = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()
# categorical_features = ['job', 'marital', 'education', 'contact_month', 'contact_weekday']
# numerical_features = ['age', 'housing', 'loan', 'contact_count', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor_3m', 'n_employed', 'prev_failure', 'prev_success', 'recent_prev_contact', 'has_prev_contact', 'contact_cellular']


# Create a transformer for numerical features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')), # Replace missing values with the mean
    ('scaler', StandardScaler()) # Standardize the numerical variables
])

# Create a transformer for categorical features
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Replace missing values with the most frequent value
    ('onehot', OneHotEncoder(handle_unknown='ignore'))  # One-hot encode the categorical variables
])

# Combine the preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='passthrough' # Keep the remaining columns as they are
)

In [ ]:
print("Columns in X_train:", X_train.columns)

In [ ]:
# Define the pipeline
classifier_pipe = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('corr_trimmer', corr_trimmer), #trims highly correlated features
    ('classifier', DummyClassifier(strategy='most_frequent')) 
   ])

classifier_pipe

In [ ]:
# Fit the pipeline on the training data
classifier_pipe["classifier"].set_params(strategy="stratified", random_state=60)
classifier_pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = classifier_pipe.predict(X_test)

# Generate a classification report
report = classification_report(y_test, y_pred, zero_division=0)
print("Classification Report:\n", report)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

## Baseline Logistic Regression

In [ ]:
logit = LogisticRegression(
    fit_intercept=False,
    penalty=None,
    multi_class="ovr",
    max_iter=10000,
    warm_start=False,
    solver="lbfgs",
)
logit

In [ ]:
print(X_train.columns)

In [ ]:
# Set classifier (final step) to `logit`
classifier_pipe.set_params(classifier=logit)

# Train and test
classifier_pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = classifier_pipe.predict(X_test)

# Generate a classification report
report = classification_report(y_test, y_pred, zero_division=0)
print("Classification Report:\n", report)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

In [ ]:
sns.heatmap(confusion_matrix(y_test, y_pred), annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')
plt.show()

## Second Model

### Balance Class Weight

In [ ]:
y_normalized = y.value_counts(normalize=True) * 100

plt.figure(figsize=(10, 6))
sns.barplot(x=y_normalized.values, y=y_normalized.index, orient="h")
plt.title("Normalized Count Plot (%)")
plt.xlabel("Percentage")
plt.show()

In [ ]:

# Set classifier to use balanced class weights
logit.set_params(class_weight="balanced")

# Display pipeline
classifier_pipe

In [ ]:
# Train and test
classifier_pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = classifier_pipe.predict(X_test)

# Generate a classification report
report = classification_report(y_test, y_pred, zero_division=0)
print("Classification Report:\n", report)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

## Third Model

### Standard Scaling

In [ ]:
# Initialize your classifier
logit = LogisticRegression()

# Define the pipeline
classifier_pipe = Pipeline(
    [
        ("cat_encoder", OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore')), 
        ("imputer",SimpleImputer(strategy="constant", fill_value=0)),
        ("corr_trimmer", corr_trimmer), 
        ("scaler", SklearnTransformerWrapper(transformer=StandardScaler())),
        ("classifier", logit),
    ]
)

classifier_pipe

In [ ]:
# Train and test
classifier_pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = classifier_pipe.predict(X_test)

# Generate a classification report
report = classification_report(y_test, y_pred, zero_division=0)
print("Classification Report:\n", report)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Define the pipeline
classifier_pipe = Pipeline(
    [
        ("cat_encoder", OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore')), 
        ("imputer",SimpleImputer(strategy="constant", fill_value=0)),
        ("corr_trimmer", corr_trimmer),
        ("scaler", SklearnTransformerWrapper(transformer=StandardScaler())),
#         ("float_forcer", FloatArrayForcer()),
        ("classifier", RandomForestClassifier()),
    ]
)

classifier_pipe

In [ ]:
# Train and test
classifier_pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = classifier_pipe.predict(X_test)

# Generate a classification report
report = classification_report(y_test, y_pred, zero_division=0)
print("Classification Report:\n", report)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

In [ ]:
from xgboost import XGBClassifier

In [ ]:
# XGBoost Pipeline
classifier_pipe = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ("corr_trimmer", corr_trimmer),
    ('classifier', XGBClassifier(random_state=42))
])

In [ ]:
# Train and test
classifier_pipe.fit(X_train, y_train)

# Predict on the test data
y_pred = classifier_pipe.predict(X_test)

# Generate a classification report
report = classification_report(y_test, y_pred, zero_division=0)
print("Classification Report:\n", report)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

In [ ]:
import os
classifier_pipe.fit(X, y)
joblib.dump(classifier_pipe, os.path.normpath(" final_model.joblib"))

## Interpretation

Now to see which features are most important for prediction. These features and the strengths of their relationships with the target variable will be crucial information for marketing managers at Banco de Portugal.

In [ ]:
df.columns

In [ ]:
df.columns = df.columns.str.replace('_', ' ').str.title()

In [ ]:
# Add the 'Phone' column based on the 'Contact Cellular' column
df["Phone"] = df["Contact Cellular"].map(lambda x: "Cellular" if x else "Landline")

In [ ]:
# Make the graph
fig, ax = plt.subplots(figsize=(6, 8))
sns.countplot(data=df, y="Job", hue="Phone", ax=ax)
ax.set(ylabel=None, xlabel="Count", title="Phone Type by Job")

plt.show()

In [ ]:
# Calculate conversion rates
conversion_rate_prev_success = df.groupby('Prev Success')['Invested'].mean()
conversion_rate_phone = df.groupby('Phone')['Invested'].mean()

In [ ]:
from matplotlib import ticker

fig, axs = plt.subplots(1, 2, figsize=(8, 4))

# Plot conversion rate by previous success
sns.barplot(x=conversion_rate_prev_success.index, y=conversion_rate_prev_success.values, ax=axs[0])
axs[0].yaxis.set_major_formatter(ticker.PercentFormatter(xmax=1))
axs[0].set(ylabel="Conversion Rate", title="Conversion Rate by Previous Success", xlabel="Previous Success")

# Plot conversion rate by phone type
sns.barplot(x=conversion_rate_phone.index, y=conversion_rate_phone.values, ax=axs[1])
axs[1].set(ylabel="Conversion Rate", title="Conversion Rate by Phone Type", xlabel="Phone Type")

plt.tight_layout()
plt.show()

## Fourth Model

### Hyperparameter Tuning

In [ ]:
grid = dict(
    classifier__C=np.geomspace(1e-5, 1e5, 11), winsorizer__fold=np.linspace(0.0, 0.2, 5)
)
grid

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(10, 4))

# Plot countplot for Prev Success
sns.countplot(data=df, x="Prev Success", ax=ax[0])
ax[0].set(xlabel="Previous Success", title="Overall Representation: Previous Success")

# Plot countplot for Phone
sns.countplot(data=df, x="Phone", ax=ax[1])
ax[1].set(xlabel="Phone Type", title="Overall Representation: Phone Type")

plt.tight_layout()
plt.show()

In [ ]:
df.columns

In [ ]:
df.query("Job == 'unemployed'")["Invested"].value_counts(1)

In [ ]:
# Filter the DataFrame for unemployed individuals
unemployed_data = df.query("Job == 'unemployed'")["Invested"]

# Calculate the normalized value counts
value_counts = unemployed_data.value_counts(normalize=True)

# Plot the value counts
sns.barplot(x=value_counts.index, y=value_counts.values)
plt.xlabel("Invested")
plt.ylabel("Proportion")
plt.title("Proportion of Invested for Unemployed Individuals")
plt.show()

In [ ]:
conversion_rates = df.groupby('Contact Month')['Invested'].mean().reset_index()

# Plot the conversion rates
plt.figure(figsize=(4, 6))
sns.barplot(x='Invested', y='Contact Month', data=conversion_rates, palette='viridis')
plt.xlabel('Conversion Rate')
plt.ylabel('Contact Month')
plt.title('Conversion Rate by Contact Month')
plt.show()

In [ ]:
# Create a count plot for the 'contact_month' column
fig, ax = plt.subplots(figsize=(6, 8))
sns.countplot(data=df, y='Contact Month', ax=ax, palette='viridis')

# Set the title for the plot
ax.set_title('Overall Representation: Contact Month')

# Format y-axis labels to title case
# ax.set_yticklabels([label.title() for label in ax.get_yticklabels()])

# Show the plot
plt.show()